@page "/employee"

@using MyBlaze.Models;
@using MyBlaze.Services
@inject Services.ApiService apiServices

<h1>Employees</h1>
@if (employees == null)
{
    <p>Loading</p>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>                
                <th>Gender</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employees)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Gender</td>
                    <td>@item.Address</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Employee> employees;
    protected override async Task OnInitializedAsync()
    {
        var response = await apiServices.GetApiData();
        employees = response;
    }
}
